body {
  font-family:'Trebuchet MS';
  margin: 0;
  padding: 0;
}

.dashboard-title {
  margin-top: 30px;
  color: #111010;
  padding: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.message-container{
  display: flex;
}
.message-box {
  width: 80%;
  margin: 20px 20px 20px 80px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.applicant-list{
  width: 20%;
  margin: 20px 80px 20px 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  max-height: 400px;
  overflow-y: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.message {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #e8f5e9;
  border: 1px solid #c8e6c9;
}
.sender {
  font-weight: bold;
  color: #388e3c;
}
.time {
  font-size: 0.9em;
  color: #616161;
  text-align: right;
  margin-top: 5px;
}
.message-input-box {
  width: 40%;
  margin: 20px auto;
  padding: 40px 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
}
.text-area{
  width: 95%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  font-size: 1em;
  resize: none;
  margin-bottom: 10px;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}

#sendBtn {
  width: 50%;
  padding: 10px 20px;
  background-color: #484f55;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#sendBtn:hover {
  background-color: #191a1b;
}
.applicant-list-title{
  margin-bottom: 10px;
}
.applicant-name-box{
  margin-left: 20px;

}
.applicant-name{
  text-decoration: none;
  color: black;
}
.applicant-name:hover{
  text-decoration: none;
  color: #484f55;
}

